@import url('https://fonts.googleapis.com/css?family=Rubik');

::-webkit-scrollbar { display: none; }

body {
    font-family: 'Rubik', sans-serif;
    overflow-y: hidden;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.system-bar {
    position: absolute;
    width: 100vw;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.system-bar-icon {
    position: absolute;
    top: 15px;
    right: 15px
}

.auth-box {
    margin-left: 40px;
}

.auth-logo {
    height: 80px
}

.auth-quit-button {
    margin-left: 20px;
}

.subtitle {
    font-weight: bold;
    color: #0e1554 !important;
}

.subtitle-hero {
    font-weight: normal;
    color: #ededed !important;
}

.subtitle-hero-grey {
    font-weight: normal;
    color: #888888 !important;
}

.secondary-color {
    color: #5465FC !important;
}

.close-app-nav {
    margin: 8px 7px 0px 5px;
}

.hover-teal:hover, .hover-teal-active {
    color: #36F0C7 !important;
}

.hover-blue:hover, .hover-blue-active  {
    color: #58C2FF !important;
}

.hover-purple:hover, .hover-purple-active  {
    color: #5465FC !important;
}

.hover-yellow:hover, .hover-yellow-active  {
    color: #FAD668 !important;
}

.hover-pink:hover, .hover-pink-active  {
    color: #FF3C87 !important;
}

.nav-button-mine {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

hr {
    border: 0;
    height: 2px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
}