@import url('https://fonts.googleapis.com/css?family=Rubik');

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Rubik', sans-serif;
    overflow-y: hidden;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.system-bar {
    position: absolute;
    width: 100vw;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.date-label {
    margin-top: 20px;
    text-transform: uppercase;
    color: #cacaca;
    font-weight: bold;
    padding-left: 30px;
}

.system-bar-icon {
    position: absolute;
    top: 15px;
    right: 15px
}

.auth-box {
    margin-left: 40px;
}

.auth-logo {
    height: 80px;
    margin-left: -20px;
}

.auth-quit-button {
    margin-left: 20px;
}

.subtitle {
    font-weight: bold;
    color: #0e1554 !important;
}

.subtitle-hero {
    font-weight: normal;
    color: #ededed !important;
}

.subtitle-hero-grey {
    font-weight: normal;
    color: #888888 !important;
}

.secondary-color {
    color: #5465FC !important;
}

.close-app-nav {
    margin: 8px 7px 0px 5px;
}

.hover-teal:hover, .hover-teal-active {
    color: #3c4bdf !important;
}

.hover-blue:hover, .hover-blue-active {
    color: #1e2dbe !important;
}

.hover-purple:hover, .hover-purple-active {
    color: #8e64ff !important;
}

.hover-yellow:hover, .hover-yellow-active {
    color: #b439c8 !important;
}

.hover-pink:hover, .hover-pink-active {
    color: #ed59d2 !important;
}

.nav-button-mine {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

hr {
    border: 0;
    height: 2px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
}

hr.separator {
    border: 0;
    height: 2px;
    border-radius: 10px;
    background: rgba(205, 205, 205, 0.2);
}

.text-shadow {
    text-shadow: 0px 0px 15px rgba(84, 101, 252, 0.2)
}

.card-icon {
    position: absolute;
    top: 11px;
    right: 12px;
    font-size: 28px;
    color: #ffffff;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.ml-0-5 {
    margin-left: 5px;
}

.transaction-card-shadow {
    -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.transaction-price-shadow {
    -webkit-box-shadow: 0 5px 25px rgba(50, 50, 93, .1), 0 3px 10px rgba(0, 0, 0, .07);
    box-shadow: 0 5px 25px rgba(50, 50, 93, .1), 0 3px 10px rgba(0, 0, 0, .07);
}

.gradient {
    background-image: linear-gradient(to right, #3c4bdf 0%, #b439c8 51%, #ed59d2 100%);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: -6px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #3c4bdf;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}
